@charset "UTF-8";

// Define typography mixins here
// Example: All mixin names should be prefaced with your abbreviation (saa, soe, ood, etc)


// Intro = Display
@mixin sdss-display {
  font-weight: $su-font-regular;
  letter-spacing: -0.01em;

  @include grid-media-max('sm') {
    font-size: 46px;
    line-height: 50px;
  }

  @include grid-media-min('md') {
    font-size: 50px;
    line-height: 56px;
  }

  @include grid-media-min('lg') {
    font-size: 80px;
    line-height: 88px;
  }
}

// Splash = Block Quote Big
@mixin sdss-block-quote--big {
  font-weight: $su-font-regular;
  font-style: italic;
  letter-spacing: -0.01em;

  @include grid-media-max('sm') {
    font-size: 32px;
    line-height: 40px;
  }

  @include grid-media-min('md') {
    font-size: 48px;
    line-height: 60px;
  }

  @include grid-media-min('lg') {
    font-size: 56px;
    line-height: 120%;
  }
}

// Quote Text = Block Quote Medium
@mixin sdss-block-quote--med {
  font-weight: $su-font-regular;
  font-style: italic;
  letter-spacing: -0.01em;

  @include grid-media-max('sm') {
    font-size: 32px;
    line-height: 40px;
  }

  @include grid-media-min('md') {
    font-size: 48px;
    line-height: 60px;
  }

  @include grid-media-min('lg') {
    font-size: 56px;
    line-height: 120%;
  }
}

 // Callout text = Block Quote Small
@mixin sdss-block-quote--sm {
  font-weight: $su-font-regular;
  font-style: italic;
  letter-spacing: 0.01em;

  @include grid-media-max('sm') {
    font-size: 18px;
    line-height: 130%;
  }

  @include grid-media-min('md') {
    font-size: 18px;
    line-height: 130%;
  }

  @include grid-media-min('lg') {
    font-size: 24px;
    line-height: 140%;
  }
}


@mixin sdss-h1 {
  @include grid-media-max('sm') {
    font-size: 40px;
    line-height: 120%;
  }

  @include grid-media-min('md') {
      font-size: 48px;
      line-height: 120%;
  }

  @include grid-media-min('lg') {
    font-size: 64px;
    line-height: 120%;
  }
}

@mixin sdss-h2 {
  @include grid-media-max('sm') {
    font-size: 40px;
    line-height: 120%;
  }

  @include grid-media-min('md') {
    font-size: 44px;
    line-height: 120%;
  }

  @include grid-media-min('lg') {
    font-size: 56px;
    line-height: 120%;
  }
}

@mixin sdss-h3 {

  @include grid-media-max('sm') {
    font-size: 32px;
    line-height: 120%;
  }

  @include grid-media-min('md') {
      font-size: 32px;
      line-height: 120%;
  }

  @include grid-media-min('lg') {
      font-size: 40px;
      line-height: 120%;
  }
}

@mixin sdss-h4 {
  @include grid-media-max('sm') {
    font-size: 24px;
    line-height: 120%;
  }

  @include grid-media-min('md') {
    font-size: 24px;
    line-height: 120%;
  }

  @include grid-media-min('lg') {
    font-size: 32px;
    line-height: 120%;
  }
}

@mixin sdss-h5 {
  @include grid-media-max('sm') {
    font-size: 18px;
    line-height: 130%;
  }

  @include grid-media-min('md') {
    font-size: 18px;
    line-height: 130%;
  }

  @include grid-media-min('lg') {
      font-size: 24px;
      line-height: 130%;
  }
}