@charset "UTF-8";

.su-card {
  .su-card__contents {
    >span {
      // Superhead in cards
      text-transform: uppercase;

      @include grid-media-min('lg') {
        font-size: 24px;
      }
      @include grid-media-max('md') {
        font-size: 16px;
      }
    }

    h2 {
      @include grid-media-max('sm') {
        font-size: 40px;
      }

      @include grid-media-max('md') {
        font-size: 44px;
      }

      @include grid-media-min('lg') {
        font-size: 56px;
      }
    }
  }
}