@charset "UTF-8";

// Stat cards need to be in a green row and 3 items.
// this is to get even height white left border lines.
.su-row-bgcolor--green {
  > div {
    color: $su-color-white;
    background-color: $sdss-color-palo-alto-dark;
  }

  .container-3-items {
    .paragraph-item {
      border-left: 1px solid $su-color-white;
    }
  }
}

.sdss-card-wrapper--stat {

  &.sdss-wrapper--button-green {
    .su-card {
      box-shadow: none;
      border: none;
      color: $su-color-white;
      background-color: $sdss-color-palo-alto-dark;

      .su-card__contents {

        span {
          @include sdss-display;
        }

        >h2 {
          @include sdss-h3;
        }

        p {
          @include type-d;
        }
      }
    }
  }
}