@charset "UTF-8";

.su-lockup--option-a {
  .su-lockup__line5 {
    font-weight: $su-font-regular;
    text-transform: none;
  }

  .su-lockup__line1 {
    font-size: 42px;
    -webkit-text-stroke-width: 0.1px;
  }

  .su-lockup__line5 {
    font-family: $sdss-font-sans-light;
    font-size: 25px;
    letter-spacing: .001em;
    -webkit-text-stroke-width: 0.1px;
  }
}